.square{
    height: 750px;
    width: 650px;
    background-image: linear-gradient(skyblue, #0271b6);
    position: absolute;
    z-index: 0;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    
}
.answer{
    
    background-color: white;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top: 50px;
    right: -40px;
    width: 565px;
    height: 100px;
    text-align: right;
    font-family: "Press Start 2P";
    font-size: 50px;
    

}


.buttons{

    position: relative;
    border-style: solid;
    width: 565px;
    height: 500px;
    top: 75px;
    right: -40px;
    font-family: "Press Start 2P";
    
}

button{
    width: 115px;
    background-color: white;
    font-family: "Arial Black";
    font-size: 50px;
    border-radius: 5px;
    border-width: 5px;
    border-color: whitesmoke;
    position: relative;
    padding: 15px;

}

#one{

    top: 10px;
    right: -10px;

}

#two{
    top: 10px;
    right: -20px;
}

#three{

    top: 10px;
    right: -30px;
}

#delete{
    top: 10px;
    right: -40px;
}

#four{
    top: 20px;
    right: -10px;
}

#five{

    top: 20px;
    right: -20px;
}

#six{

    top: 20px;
    right: -30px;
}

#division{
    
    top: 20px;
    right: -40px;
}

#seven{
    
    top: 30px;
    right: -10px;
}

#eight{
    
    top: 30px;
    right: -20px;
}

#nine{
    
    top: 30px;
    right: -30px;
}

#multiplication{

    top: 30px;
    right: -40px;
}

#zero{

    top: 40px;
    right: -10px;
}

#subtraction{
    
    top: 40px;
    right: -20px;
}

#addition{

    top: 40px;
    right: -30px;
}

#equal{
    
    top: 40px;
    right: -40px;
}
