.square{
    height: 750px;
    width: 650px;
    background-image: linear-gradient(lightgreen,greenyellow, yellow);
    position: absolute;
    z-index: 0;
    border-radius: 25px;
}
.answer{
    
    background-color: white;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    top: 50px;
    right: -40px;
    width: 565px;
    height: 100px;
    text-align: right;
    font-family: "Press Start 2P";
    font-size: 50px;
    
}
